question no 1

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [3]:
page

In [4]:
soup=BeautifulSoup(page.content)

In [5]:
head_data=[]
for i in soup.find_all('span',class_="mw-headline"):
    head_data.append(i.text)
    
head_data

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [2]:
import pandas as pd

In [12]:
df=pd.DataFrame({'header tags':head_data})

In [13]:
df

                     header tags
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5     From today's featured list
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

question no 2

In [14]:
page1=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page1

In [15]:
soup1=BeautifulSoup(page1.content)

In [57]:
name=[]
for i in soup1.find_all('div',class_="presidentListing"):
    name.append(i.text.split('\n')[1])
    
name

['Shri Ram Nath Kovind (birth - 1945)',
 'Shri Pranab Mukherjee (1935-2020)',
 'Smt Pratibha Devisingh Patil (birth - 1934)',
 'DR. A.P.J. Abdul Kalam (1931-2015)',
 'Shri K. R. Narayanan (1920 - 2005)',
 'Dr Shankar Dayal Sharma (1918-1999)',
 'Shri R Venkataraman (1910-2009)',
 'Giani Zail Singh (1916-1994)',
 'Shri Neelam Sanjiva Reddy (1913-1996)',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)',
 'Shri Varahagiri Venkata Giri (1894-1980)',
 'Dr. Zakir Husain (1897-1969)',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)',
 'Dr. Rajendra Prasad (1884-1963) ']

In [72]:
term_of_office=[]
for i in soup1.find_all('div',class_="presidentListing"):
    term_of_office.append(i.text.split('\n')[2])
    
term_of_office

['Term of Office: 25 July, 2017 to 25 July, 2022 ',
 'Term of Office: 25 July, 2012 to 25 July, 2017 ',
 'Term of Office: 25 July, 2007 to 25 July, 2012 ',
 'Term of Office: 25 July, 2002 to 25 July, 2007 ',
 'Term of Office: 25 July, 1997 to 25 July, 2002 ',
 'Term of Office: 25 July, 1992 to 25 July, 1997 ',
 'Term of Office: 25 July, 1987 to 25 July, 1992 ',
 'Term of Office: 25 July, 1982 to 25 July, 1987 ',
 'Term of Office: 25 July, 1977 to 25 July, 1982 ',
 'Term of Office: 24 August, 1974 to 11 February, 1977',
 'Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 'Term of Office: 13 May, 1967 to 3 May, 1969',
 'Term of Office: 13 May, 1962 to 13 May, 1967',
 'Term of Office: 26 January, 1950 to 13 May, 1962']

In [73]:
df1=pd.DataFrame({'president name':name,'term of office':term_of_office})
df1

,president name,term of office
0,Shri Ram Nath Kovind (birth - 1945),"Term of Office: 25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
10,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
11,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

question no 3(a)

In [6]:
page2=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page2

In [7]:
soup2=BeautifulSoup(page2.content)

In [10]:
top_10_ODI_teams=[]
for i in soup2.find_all('span',class_="u-hide-phablet"):
    top_10_ODI_teams.append(i.text)
    
top_10_ODI_teams

['Australia',
 'Pakistan',
 'India',
 'New Zealand',
 'England',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'Afghanistan',
 'West Indies',
 'Zimbabwe',
 'Scotland',
 'Ireland',
 'Nepal',
 'Netherlands',
 'United States',
 'Namibia',
 'Oman',
 'UAE',
 'Papua New Guinea']

In [21]:
matches=[]
for i in soup2.find_all('td',class_="rankings-block__banner--matches"):
    matches.append(i.text)
    
matches

['23']

In [48]:
matches1=[]
for i in soup2.find_all('tr',class_="table-body"):
    matches1.append(i.text.split('\n')[7])
    

matches1

['20',
 '33',
 '27',
 '24',
 '19',
 '25',
 '28',
 '13',
 '32',
 '27',
 '30',
 '22',
 '38',
 '24',
 '29',
 '28',
 '21',
 '39',
 '28']

In [49]:
matches.extend(matches1)

In [50]:
matches

['23',
 '20',
 '33',
 '27',
 '24',
 '19',
 '25',
 '28',
 '13',
 '32',
 '27',
 '30',
 '22',
 '38',
 '24',
 '29',
 '28',
 '21',
 '39',
 '28']

In [53]:
points=[]
for i in soup2.find_all('td',class_="rankings-block__banner--points"):
    points.append(i.text)
    
points

['2,714']

In [55]:
points1=[]
for i in soup2.find_all('tr',class_="table-body"):
    points1.append(i.text.split('\n')[8])
    
points1

['2,316',
 '3,807',
 '2,806',
 '2,426',
 '1,910',
 '2,451',
 '2,378',
 '1,067',
 '2,201',
 '1,530',
 '1,451',
 '887',
 '1,340',
 '816',
 '855',
 '813',
 '522',
 '554',
 '106']

In [56]:
points.extend(points1)

In [57]:
points

['2,714',
 '2,316',
 '3,807',
 '2,806',
 '2,426',
 '1,910',
 '2,451',
 '2,378',
 '1,067',
 '2,201',
 '1,530',
 '1,451',
 '887',
 '1,340',
 '816',
 '855',
 '813',
 '522',
 '554',
 '106']

In [89]:
rating=[]
for i in soup2.find_all('td',class_="rankings-block__banner--rating"):
    rating.append(i.text.split('\n')[1])
    
rating

['                            118']

In [92]:
rating1=[]
for i in soup2.find_all('tr',class_="table-body"):
    rating1.append(i.text.split('\n')[9])
    
rating1

['116',
 '115',
 '104',
 '101',
 '101',
 '98',
 '85',
 '82',
 '69',
 '57',
 '48',
 '40',
 '35',
 '34',
 '29',
 '29',
 '25',
 '14',
 '4']

In [100]:
rating.extend(rating1)

In [104]:
rating

['118',
 '116',
 '115',
 '104',
 '101',
 '101',
 '98',
 '85',
 '82',
 '69',
 '57',
 '48',
 '40',
 '35',
 '34',
 '29',
 '29',
 '25',
 '14',
 '4']

In [105]:
df2=pd.DataFrame({'top 10 ODI teams':top_10_ODI_teams,'matches':matches,'points':points,'rating':rating})

In [106]:
df2

    top 10 ODI teams matches points rating
0          Australia      23  2,714    118
1           Pakistan      20  2,316    116
2              India      33  3,807    115
3        New Zealand      27  2,806    104
4            England      24  2,426    101
5       South Africa      19  1,910    101
6         Bangladesh      25  2,451     98
7          Sri Lanka      28  2,378     85
8        Afghanistan      13  1,067     82
9        West Indies      32  2,201     69
10          Zimbabwe      27  1,530     57
11          Scotland      30  1,451     48
12           Ireland      22    887     40
13             Nepal      38  1,340     35
14       Netherlands      24    816     34
15     United States      29    855     29
16           Namibia      28    813     29
17              Oman      21    522     25
18               UAE      39    554     14
19  Papua New Guinea      28    106      4

In [107]:
df2.iloc[0:10,:]

  top 10 ODI teams matches points rating
0        Australia      23  2,714    118
1         Pakistan      20  2,316    116
2            India      33  3,807    115
3      New Zealand      27  2,806    104
4          England      24  2,426    101
5     South Africa      19  1,910    101
6       Bangladesh      25  2,451     98
7        Sri Lanka      28  2,378     85
8      Afghanistan      13  1,067     82
9      West Indies      32  2,201     69

question no 3(b)

In [3]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

In [4]:
page

In [7]:
soup4=BeautifulSoup(page.content)

In [8]:
top_10_ODI_batsmen=[]
for i in soup4.find_all('div',class_="rankings-block__banner--name"):
    top_10_ODI_batsmen.append(i.text)

In [9]:
top_10_ODI_batsmen

['Babar Azam',
 'Josh Hazlewood',
 'Shakib Al Hasan',
 'Babar Azam',
 'Josh Hazlewood',
 'Shakib Al Hasan']

In [22]:
top_10_ODI_batsmen1=[]
for i in soup4.find_all('td',class_="table-body__cell name"):
    top_10_ODI_batsmen1.append(i.text.split('\n')[1])

In [23]:
top_10_ODI_batsmen1

['Rassie van der Dussen',
 'Fakhar Zaman',
 'Imam-ul-Haq',
 'Shubman Gill',
 'Harry Tector',
 'David Warner',
 'Virat Kohli',
 'Quinton de Kock',
 'Rohit Sharma',
 'Mohammed Siraj',
 'Mitchell Starc',
 'Matt Henry',
 'Trent Boult',
 'Adam Zampa',
 'Rashid Khan',
 'Shaheen Afridi',
 'Mujeeb Ur Rahman',
 'Mohammad Nabi',
 'Mohammad Nabi',
 'Sikandar Raza',
 'Rashid Khan',
 'Assad Vala',
 'Mehedi Hasan',
 'Zeeshan Maqsood',
 'Mitchell Santner',
 'Wanindu Hasaranga',
 'Chris Woakes',
 'Rassie van der Dussen',
 'Fakhar Zaman',
 'Imam-ul-Haq',
 'Shubman Gill',
 'Harry Tector',
 'David Warner',
 'Virat Kohli',
 'Quinton de Kock',
 'Rohit Sharma',
 'Mohammed Siraj',
 'Mitchell Starc',
 'Matt Henry',
 'Trent Boult',
 'Adam Zampa',
 'Rashid Khan',
 'Shaheen Afridi',
 'Mujeeb Ur Rahman',
 'Mohammad Nabi',
 'Mohammad Nabi',
 'Sikandar Raza',
 'Rashid Khan',
 'Assad Vala',
 'Mehedi Hasan',
 'Zeeshan Maqsood',
 'Mitchell Santner',
 'Wanindu Hasaranga',
 'Chris Woakes']

In [24]:
del top_10_ODI_batsmen[1:]

In [25]:
top_10_ODI_batsmen

['Babar Azam']

In [26]:
del top_10_ODI_batsmen1[9:]

In [27]:
top_10_ODI_batsmen1

['Rassie van der Dussen',
 'Fakhar Zaman',
 'Imam-ul-Haq',
 'Shubman Gill',
 'Harry Tector',
 'David Warner',
 'Virat Kohli',
 'Quinton de Kock',
 'Rohit Sharma']

In [28]:
top_10_ODI_batsmen.extend(top_10_ODI_batsmen1)

In [29]:
top_10_ODI_batsmen

['Babar Azam',
 'Rassie van der Dussen',
 'Fakhar Zaman',
 'Imam-ul-Haq',
 'Shubman Gill',
 'Harry Tector',
 'David Warner',
 'Virat Kohli',
 'Quinton de Kock',
 'Rohit Sharma']

In [32]:
team=[]
for i in soup4.find_all('div',class_="rankings-block__banner--nationality"):
    team.append(i.text.split('\n')[2])

In [33]:
team

['PAK', 'AUS', 'BAN', 'PAK', 'AUS', 'BAN']

In [34]:
del team[1:]

In [35]:
team

['PAK']

In [36]:
team1=[]
for i in soup4.find_all('span',class_="table-body__logo-text"):
    team1.append(i.text)

In [37]:
team1

['SA',
 'PAK',
 'PAK',
 'IND',
 'IRE',
 'AUS',
 'IND',
 'SA',
 'IND',
 'IND',
 'AUS',
 'NZ',
 'NZ',
 'AUS',
 'AFG',
 'PAK',
 'AFG',
 'AFG',
 'AFG',
 'ZIM',
 'AFG',
 'PNG',
 'BAN',
 'OMA',
 'NZ',
 'SL',
 'ENG',
 'SA',
 'PAK',
 'PAK',
 'IND',
 'IRE',
 'AUS',
 'IND',
 'SA',
 'IND',
 'IND',
 'AUS',
 'NZ',
 'NZ',
 'AUS',
 'AFG',
 'PAK',
 'AFG',
 'AFG',
 'AFG',
 'ZIM',
 'AFG',
 'PNG',
 'BAN',
 'OMA',
 'NZ',
 'SL',
 'ENG']

In [40]:
del team1[9:]

In [41]:
team1

['SA', 'PAK', 'PAK', 'IND', 'IRE', 'AUS', 'IND', 'SA', 'IND']

In [42]:
team.extend(team1)

In [43]:
team

['PAK', 'SA', 'PAK', 'PAK', 'IND', 'IRE', 'AUS', 'IND', 'SA', 'IND']

In [46]:
rating=[]
for i in soup4.find('div',class_="rankings-block__banner--rating"):
    rating.append(i.text)

In [47]:
rating

['886']

In [54]:
rating1=[]
for i in soup4.find_all('td',class_="table-body__cell u-text-right rating"):
    rating1.append(i.text)

In [55]:
rating1

['777',
 '755',
 '745',
 '738',
 '726',
 '726',
 '719',
 '718',
 '707',
 '691',
 '686',
 '667',
 '660',
 '652',
 '640',
 '630',
 '630',
 '626',
 '305',
 '287',
 '261',
 '248',
 '244',
 '240',
 '234',
 '233',
 '215',
 '777',
 '755',
 '745',
 '738',
 '726',
 '726',
 '719',
 '718',
 '707',
 '691',
 '686',
 '667',
 '660',
 '652',
 '640',
 '630',
 '630',
 '626',
 '305',
 '287',
 '261',
 '248',
 '244',
 '240',
 '234',
 '233',
 '215']

In [56]:
del rating1[9:]

In [57]:
rating1

['777', '755', '745', '738', '726', '726', '719', '718', '707']

In [58]:
rating.extend(rating1)

In [59]:
rating

['886', '777', '755', '745', '738', '726', '726', '719', '718', '707']

In [60]:
df5=pd.DataFrame({'top_10_ODI_batsmen':top_10_ODI_batsmen,'team':team,'rating':rating})

In [61]:
df5

      top_10_ODI_batsmen team rating
0             Babar Azam  PAK    886
1  Rassie van der Dussen   SA    777
2           Fakhar Zaman  PAK    755
3            Imam-ul-Haq  PAK    745
4           Shubman Gill  IND    738
5           Harry Tector  IRE    726
6           David Warner  AUS    726
7            Virat Kohli  IND    719
8        Quinton de Kock   SA    718
9           Rohit Sharma  IND    707

question no 3(c)

In [70]:
top10_ODI_bowlers=[]
for i in soup4.find_all('div',class_="rankings-block__banner--name"):
    top10_ODI_bowlers.append(i.text)

In [71]:
top10_ODI_bowlers

['Babar Azam',
 'Josh Hazlewood',
 'Shakib Al Hasan',
 'Babar Azam',
 'Josh Hazlewood',
 'Shakib Al Hasan']

In [73]:
del top10_ODI_bowlers[0]

In [74]:
del top10_ODI_bowlers[1:]

In [75]:
top10_ODI_bowlers

['Josh Hazlewood']

In [81]:
top10_ODI_bowlers1=[]
for i in soup4.find_all('td',class_="table-body__cell name"):
    top10_ODI_bowlers1.append(i.text.split('\n')[1])

In [82]:
top10_ODI_bowlers1

['Rassie van der Dussen',
 'Fakhar Zaman',
 'Imam-ul-Haq',
 'Shubman Gill',
 'Harry Tector',
 'David Warner',
 'Virat Kohli',
 'Quinton de Kock',
 'Rohit Sharma',
 'Mohammed Siraj',
 'Mitchell Starc',
 'Matt Henry',
 'Trent Boult',
 'Adam Zampa',
 'Rashid Khan',
 'Shaheen Afridi',
 'Mujeeb Ur Rahman',
 'Mohammad Nabi',
 'Mohammad Nabi',
 'Sikandar Raza',
 'Rashid Khan',
 'Assad Vala',
 'Mehedi Hasan',
 'Zeeshan Maqsood',
 'Mitchell Santner',
 'Wanindu Hasaranga',
 'Chris Woakes',
 'Rassie van der Dussen',
 'Fakhar Zaman',
 'Imam-ul-Haq',
 'Shubman Gill',
 'Harry Tector',
 'David Warner',
 'Virat Kohli',
 'Quinton de Kock',
 'Rohit Sharma',
 'Mohammed Siraj',
 'Mitchell Starc',
 'Matt Henry',
 'Trent Boult',
 'Adam Zampa',
 'Rashid Khan',
 'Shaheen Afridi',
 'Mujeeb Ur Rahman',
 'Mohammad Nabi',
 'Mohammad Nabi',
 'Sikandar Raza',
 'Rashid Khan',
 'Assad Vala',
 'Mehedi Hasan',
 'Zeeshan Maqsood',
 'Mitchell Santner',
 'Wanindu Hasaranga',
 'Chris Woakes']

In [83]:
del top10_ODI_bowlers1[0:9]

In [85]:
del top10_ODI_bowlers1[9:]

In [86]:
top10_ODI_bowlers1

['Mohammed Siraj',
 'Mitchell Starc',
 'Matt Henry',
 'Trent Boult',
 'Adam Zampa',
 'Rashid Khan',
 'Shaheen Afridi',
 'Mujeeb Ur Rahman',
 'Mohammad Nabi']

In [87]:
top10_ODI_bowlers.extend(top10_ODI_bowlers1)

In [88]:
top10_ODI_bowlers

['Josh Hazlewood',
 'Mohammed Siraj',
 'Mitchell Starc',
 'Matt Henry',
 'Trent Boult',
 'Adam Zampa',
 'Rashid Khan',
 'Shaheen Afridi',
 'Mujeeb Ur Rahman',
 'Mohammad Nabi']

In [98]:
bteam=[]
for i in soup4.find_all('div',class_="rankings-block__banner--nationality"):
    bteam.append(i.text.split('\n')[2])

In [99]:
bteam

['PAK', 'AUS', 'BAN', 'PAK', 'AUS', 'BAN']

In [100]:
del bteam[0]

In [101]:
del bteam[1:]

In [102]:
bteam

['AUS']

In [103]:
bteam1=[]
for i in soup4.find_all('span',class_="table-body__logo-text"):
    bteam1.append(i.text)

In [104]:
bteam1

['SA',
 'PAK',
 'PAK',
 'IND',
 'IRE',
 'AUS',
 'IND',
 'SA',
 'IND',
 'IND',
 'AUS',
 'NZ',
 'NZ',
 'AUS',
 'AFG',
 'PAK',
 'AFG',
 'AFG',
 'AFG',
 'ZIM',
 'AFG',
 'PNG',
 'BAN',
 'OMA',
 'NZ',
 'SL',
 'ENG',
 'SA',
 'PAK',
 'PAK',
 'IND',
 'IRE',
 'AUS',
 'IND',
 'SA',
 'IND',
 'IND',
 'AUS',
 'NZ',
 'NZ',
 'AUS',
 'AFG',
 'PAK',
 'AFG',
 'AFG',
 'AFG',
 'ZIM',
 'AFG',
 'PNG',
 'BAN',
 'OMA',
 'NZ',
 'SL',
 'ENG']

In [105]:
del bteam1[0:9]

In [108]:
del bteam1[9:]

In [109]:
bteam1

['IND', 'AUS', 'NZ', 'NZ', 'AUS', 'AFG', 'PAK', 'AFG', 'AFG']

In [110]:
bteam.extend(bteam1)

In [111]:
bteam

['AUS', 'IND', 'AUS', 'NZ', 'NZ', 'AUS', 'AFG', 'PAK', 'AFG', 'AFG']

In [123]:
rating=[]
for i in soup4.find_all('div',class_="rankings-block__banner--rating"):
    rating.append(i.text)

In [124]:
rating

['886', '705', '367', '886', '705', '367']

In [125]:
del rating[0]

In [126]:
del rating[1:]

In [127]:
rating

['705']

In [131]:
rating1=[]
for i in soup4.find_all('td',class_="table-body__cell u-text-right rating"):
    rating1.append(i.text)

In [132]:
rating1

['777',
 '755',
 '745',
 '738',
 '726',
 '726',
 '719',
 '718',
 '707',
 '691',
 '686',
 '667',
 '660',
 '652',
 '640',
 '630',
 '630',
 '626',
 '305',
 '287',
 '261',
 '248',
 '244',
 '240',
 '234',
 '233',
 '215',
 '777',
 '755',
 '745',
 '738',
 '726',
 '726',
 '719',
 '718',
 '707',
 '691',
 '686',
 '667',
 '660',
 '652',
 '640',
 '630',
 '630',
 '626',
 '305',
 '287',
 '261',
 '248',
 '244',
 '240',
 '234',
 '233',
 '215']

In [133]:
del rating1[0:9]

In [134]:
del rating1[9:]

In [135]:
rating1

['691', '686', '667', '660', '652', '640', '630', '630', '626']

In [136]:
rating.extend(rating1)

In [137]:
rating

['705', '691', '686', '667', '660', '652', '640', '630', '630', '626']

In [138]:
df6=pd.DataFrame({'top10_ODI_bowlers':top10_ODI_bowlers,'bteam':bteam,'rating':rating})

In [139]:
df6

  top10_ODI_bowlers bteam rating
0    Josh Hazlewood   AUS    705
1    Mohammed Siraj   IND    691
2    Mitchell Starc   AUS    686
3        Matt Henry    NZ    667
4       Trent Boult    NZ    660
5        Adam Zampa   AUS    652
6       Rashid Khan   AFG    640
7    Shaheen Afridi   PAK    630
8  Mujeeb Ur Rahman   AFG    630
9     Mohammad Nabi   AFG    626

question no 4(a)

In [140]:
page5=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page5

In [141]:
soup=BeautifulSoup(page5.content)

In [142]:
top_10_odi_wteams=[]
for i in soup.find_all('span',class_="u-hide-phablet"):
    top_10_odi_wteams.append(i.text)

In [143]:
top_10_odi_wteams

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Sri Lanka',
 'Thailand',
 'Pakistan',
 'Ireland',
 'Netherlands',
 'Zimbabwe']

In [144]:
matches=[]
for i in soup.find_all('td',class_="rankings-block__banner--matches"):
    matches.append(i.text)

In [145]:
matches

['21']

In [154]:
matches1=[]
for i in soup.find_all('tr',class_="table-body"):
    matches1.append(i.text.split('\n')[7])

In [155]:
matches1

['28', '26', '27', '28', '29', '14', '12', '12', '27', '16', '10', '11']

In [156]:
matches.extend(matches1)

In [157]:
matches

['21', '28', '26', '27', '28', '29', '14', '12', '12', '27', '16', '10', '11']

In [158]:
points=[]
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    points.append(i.text)

In [159]:
points

['3,603']

In [160]:
points1=[]
for i in soup.find_all('tr',class_="table-body"):
    points1.append(i.text.split('\n')[8])

In [161]:
points1

['3,342',
 '3,098',
 '2,820',
 '2,688',
 '2,743',
 '977',
 '820',
 '806',
 '1,678',
 '605',
 '90',
 '0']

In [162]:
points.extend(points1)

In [163]:
points

['3,603',
 '3,342',
 '3,098',
 '2,820',
 '2,688',
 '2,743',
 '977',
 '820',
 '806',
 '1,678',
 '605',
 '90',
 '0']

In [167]:
rating=[]
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    rating.append(i.text.split('\n')[1])

In [168]:
rating

['                            172']

In [187]:
rating1=[]
for i in soup.find_all('tr',class_="table-body"):
    rating1.append(i.text.split('\n')[9])

In [188]:
rating1

['119', '119', '104', '96', '95', '70', '68', '67', '62', '38', '9', '0']

In [189]:
rating.extend(rating1)

In [190]:
rating

['                            172',
 '119',
 '119',
 '104',
 '96',
 '95',
 '70',
 '68',
 '67',
 '62',
 '38',
 '9',
 '0']

In [191]:
df6=pd.DataFrame({'top_10_odi_wteams':top_10_odi_wteams,'matches':matches,'points':points,'rating':rating})

In [192]:
df6

   top_10_odi_wteams matches points                           rating
0          Australia      21  3,603                              172
1            England      28  3,342                              119
2       South Africa      26  3,098                              119
3              India      27  2,820                              104
4        New Zealand      28  2,688                               96
5        West Indies      29  2,743                               95
6         Bangladesh      14    977                               70
7          Sri Lanka      12    820                               68
8           Thailand      12    806                               67
9           Pakistan      27  1,678                               62
10           Ireland      16    605                               38
11       Netherlands      10     90                                9
12          Zimbabwe      11      0                                0

In [193]:
df6.iloc[0:10]

  top_10_odi_wteams matches points                           rating
0         Australia      21  3,603                              172
1           England      28  3,342                              119
2      South Africa      26  3,098                              119
3             India      27  2,820                              104
4       New Zealand      28  2,688                               96
5       West Indies      29  2,743                               95
6        Bangladesh      14    977                               70
7         Sri Lanka      12    820                               68
8          Thailand      12    806                               67
9          Pakistan      27  1,678                               62

question no 4(b)

In [198]:
page6=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

In [199]:
page6

In [200]:
soup6=BeautifulSoup(page6.content)

In [201]:
top10_women_ODI_batting=[]
for i in soup6.find_all('div',class_="rankings-block__banner--name"):
    top10_women_ODI_batting.append(i.text)

In [202]:
top10_women_ODI_batting

['Chamari Athapaththu', 'Sophie Ecclestone', 'Hayley Matthews']

In [203]:
del top10_women_ODI_batting[1:]

In [204]:
top10_women_ODI_batting

['Chamari Athapaththu']

In [207]:
w1=[]
for i in soup6.find_all('td',class_="table-body__cell name"):
    w1.append(i.text.split('\n')[1])

In [208]:
w1

['Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Tammy Beaumont',
 'Jess Jonassen',
 'Shabnim Ismail',
 'Megan Schutt',
 'Hayley Matthews',
 'Kate Cross',
 'Ayabonga Khaka',
 'Rajeshwari Gayakwad',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Sophie Devine',
 'Nida Dar']

In [209]:
del w1[9:]

In [210]:
w1

['Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Tammy Beaumont']

In [211]:
top10_women_ODI_batting.extend(w1)

In [212]:
top10_women_ODI_batting

['Chamari Athapaththu',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Tammy Beaumont']

In [215]:
wteam=[]
for i in soup6.find_all('div',class_="rankings-block__banner--nationality"):
    wteam.append(i.text.split('\n')[2])

In [216]:
wteam

['SL', 'ENG', 'WI']

In [217]:
del wteam[1:]

In [218]:
wteam

['SL']

In [219]:
w2=[]
for i in soup6.find_all('span',class_="table-body__logo-text"):
    w2.append(i.text)

In [220]:
w2

['AUS',
 'SA',
 'ENG',
 'AUS',
 'IND',
 'IND',
 'AUS',
 'WI',
 'ENG',
 'AUS',
 'SA',
 'AUS',
 'WI',
 'ENG',
 'SA',
 'IND',
 'SA',
 'IND',
 'ENG',
 'AUS',
 'SA',
 'NZ',
 'IND',
 'AUS',
 'AUS',
 'NZ',
 'PAK']

In [221]:
del w2[9:]

In [222]:
w2

['AUS', 'SA', 'ENG', 'AUS', 'IND', 'IND', 'AUS', 'WI', 'ENG']

In [223]:
wteam.extend(w2)

In [224]:
wteam

['SL', 'AUS', 'SA', 'ENG', 'AUS', 'IND', 'IND', 'AUS', 'WI', 'ENG']

In [225]:
wrating=[]
for i in soup6.find_all('div',class_="rankings-block__banner--rating"):
    wrating.append(i.text)

In [226]:
wrating

['758', '751', '382']

In [227]:
del wrating[1:]

In [228]:
wrating

['758']

In [229]:
w3=[]
for i in soup6.find_all('td',class_="table-body__cell u-text-right rating"):
    w3.append(i.text)

In [230]:
w3

['754',
 '732',
 '731',
 '717',
 '716',
 '714',
 '626',
 '618',
 '595',
 '723',
 '722',
 '704',
 '662',
 '655',
 '634',
 '617',
 '598',
 '589',
 '371',
 '366',
 '349',
 '328',
 '322',
 '292',
 '250',
 '233',
 '232']

In [231]:
del w3[9:]

In [232]:
w3

['754', '732', '731', '717', '716', '714', '626', '618', '595']

In [233]:
wrating.extend(w3)

In [234]:
wrating

['758', '754', '732', '731', '717', '716', '714', '626', '618', '595']

In [235]:
df7=pd.DataFrame({'top10_women_ODI_batting':top10_women_ODI_batting,'team':wteam,'rating':wrating})

In [236]:
df7

  top10_women_ODI_batting team rating
0     Chamari Athapaththu   SL    758
1             Beth Mooney  AUS    754
2         Laura Wolvaardt   SA    732
3          Natalie Sciver  ENG    731
4             Meg Lanning  AUS    717
5        Harmanpreet Kaur  IND    716
6         Smriti Mandhana  IND    714
7            Ellyse Perry  AUS    626
8         Stafanie Taylor   WI    618
9          Tammy Beaumont  ENG    595

question no 4(c)

In [237]:
top10_women_ODI_allrounder=[]
for i in soup6.find_all('div',class_="rankings-block__banner--name"):
    top10_women_ODI_allrounder.append(i.text)

In [238]:
top10_women_ODI_allrounder

['Chamari Athapaththu', 'Sophie Ecclestone', 'Hayley Matthews']

In [239]:
del top10_women_ODI_allrounder[0:2]

In [240]:
top10_women_ODI_allrounder

['Hayley Matthews']

In [243]:
a1=[]
for i in soup6.find_all('td',class_="table-body__cell name"):
    a1.append(i.text.split('\n')[1])

In [244]:
a1

['Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Tammy Beaumont',
 'Jess Jonassen',
 'Shabnim Ismail',
 'Megan Schutt',
 'Hayley Matthews',
 'Kate Cross',
 'Ayabonga Khaka',
 'Rajeshwari Gayakwad',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Sophie Devine',
 'Nida Dar']

In [245]:
del a1[0:18]

In [246]:
a1

['Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Sophie Devine',
 'Nida Dar']

In [247]:
top10_women_ODI_allrounder.extend(a1)

In [248]:
top10_women_ODI_allrounder

['Hayley Matthews',
 'Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Sophie Devine',
 'Nida Dar']

In [252]:
wpteam=[]
for i in soup6.find_all('div',class_="rankings-block__banner--nationality"):
    wpteam.append(i.text.split('\n')[2])

In [253]:
wpteam

['SL', 'ENG', 'WI']

In [254]:
del wpteam[0:2]

In [255]:
wpteam

['WI']

In [256]:
a2=[]
for i in soup6.find_all('span',class_="table-body__logo-text"):
    a2.append(i.text)

In [257]:
a2

['AUS',
 'SA',
 'ENG',
 'AUS',
 'IND',
 'IND',
 'AUS',
 'WI',
 'ENG',
 'AUS',
 'SA',
 'AUS',
 'WI',
 'ENG',
 'SA',
 'IND',
 'SA',
 'IND',
 'ENG',
 'AUS',
 'SA',
 'NZ',
 'IND',
 'AUS',
 'AUS',
 'NZ',
 'PAK']

In [258]:
del a2[0:18]

In [259]:
a2

['ENG', 'AUS', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'NZ', 'PAK']

In [260]:
wpteam.extend(a2)

In [261]:
wpteam

['WI', 'ENG', 'AUS', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'NZ', 'PAK']

In [262]:
wprating=[]
for i in soup6.find_all('div',class_="rankings-block__banner--rating"):
    wprating.append(i.text)

In [263]:
wprating

['758', '751', '382']

In [264]:
del wprating[0:2]

In [265]:
wprating

['382']

In [266]:
a3=[]
for i in soup6.find_all('td',class_="table-body__cell u-text-right rating"):
    a3.append(i.text)

In [267]:
a3

['754',
 '732',
 '731',
 '717',
 '716',
 '714',
 '626',
 '618',
 '595',
 '723',
 '722',
 '704',
 '662',
 '655',
 '634',
 '617',
 '598',
 '589',
 '371',
 '366',
 '349',
 '328',
 '322',
 '292',
 '250',
 '233',
 '232']

In [268]:
del a3[0:18]

In [269]:
a3

['371', '366', '349', '328', '322', '292', '250', '233', '232']

In [270]:
wprating.extend(a3)

In [271]:
wprating

['382', '371', '366', '349', '328', '322', '292', '250', '233', '232']

In [272]:
df8=pd.DataFrame({'top10_women_ODI_allrounder':top10_women_ODI_allrounder,'team':wpteam,'rating':wprating})

In [273]:
df8

  top10_women_ODI_allrounder team rating
0            Hayley Matthews   WI    382
1             Natalie Sciver  ENG    371
2               Ellyse Perry  AUS    366
3             Marizanne Kapp   SA    349
4                Amelia Kerr   NZ    328
5              Deepti Sharma  IND    322
6           Ashleigh Gardner  AUS    292
7              Jess Jonassen  AUS    250
8              Sophie Devine   NZ    233
9                   Nida Dar  PAK    232

question no 5

In [274]:
page7=requests.get('https://www.cnbc.com/world/?region=world')
page7

In [275]:
soup7=BeautifulSoup(page7.content)

In [278]:
headline=[]
for i in soup7.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)

In [279]:
headline

['These stocks that are about to turn a profit should outperform, Jefferies says',
 'Earnings playbook: JPMorgan Chase and Delta Air Lines kick off the season',
 "Yellen says Beijing talks a step forward in putting U.S.-China ties on 'surer footing'",
 'U.S. soccer star Megan Rapinoe announces retirement ',
 'How to start a pet-sitting side hustle—you could make as much as $40 per hour',
 '3 things to pay attention to in the markets this coming week',
 'These U.S. states have the best and the worst tap water',
 "The No. 1 vitamin kids in the U.S. 'aren't getting enough of' today: Dietitian and parenting expert",
 'How the generative A.I. boom could forever change online advertising',
 'The 10 U.S. cities where rent has increased the most in the last year',
 "As 'bougie broke' videos trend, here's why experts say that's not a bad thing",
 'The Fed rolls out a new economic index that could have big implications',
 "Active funds are powering JPMorgan's ETFs past rivals — Why it may continue",
 'Micron and Pfizer are the most oversold S&P 500 stocks. Here are the others',
 "Medicare will pay for Alzheimer's drug Leqembi. What patients, doctors should know",
 'Buy Buy Baby auction is canceled, but buyers are still interested in making a bid',
 "Elon Musk's Twitter sues top law firm Wachtell over $90 million fee ",
 "Biogen falls after Alzheimer’s drug approval. Here's what the pros are saying",
 "Justin Bieber's Bored Ape NFT has lost about 95% of its value since 2022",
 'How the SAVE plan can help student loan borrowers reduce monthly payments',
 "While Americans fear a recession as severe as 2008, here's why experts disagree",
 "Here's how much the $615 million Powerball jackpot winner may owe in taxes",
 '10 U.S. counties where prospective buyers need to earn the most to afford a home',
 'Two health-care stocks are in the headlines. How the news impacts our investments',
 "Fed's Goolsbee sees 'golden path' to lower inflation without a recession",
 "Meta Threads doesn't need the 'negativity' of hard news and politics, exec says",
 'Small businesses may have a hard time finding teen workers this summer',
 'June inflation data will be closely watched by investors in the week ahead',
 'Sales of Alzheimer’s drug Leqembi may be slow at first, analysts say',
 "These stocks, plus Tesla, are this week's top performers as the S&P 500 falls"]

In [280]:
time=[]
for i in soup7.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text)
    
time

['13 Min Ago',
 '16 Min Ago',
 '7 Hours Ago',
 '17 Hours Ago',
 '21 Hours Ago',
 '21 Hours Ago',
 '21 Hours Ago',
 '22 Hours Ago',
 '22 Hours Ago',
 '22 Hours Ago',
 '22 Hours Ago',
 '22 Hours Ago',
 '22 Hours Ago',
 '23 Hours Ago',
 'July 8, 2023',
 'July 7, 2023',
 'July 7, 2023',
 'July 7, 2023',
 'July 7, 2023',
 'July 7, 2023',
 'July 7, 2023',
 'July 7, 2023',
 'July 7, 2023',
 'July 7, 2023',
 'July 7, 2023',
 'July 7, 2023',
 'July 7, 2023',
 'July 7, 2023',
 'July 7, 2023',
 'July 7, 2023']

In [283]:
link=[]
for i in soup7.find_all('a',class_="LatestNews-headline"):
    link.append(i.get('href'))

In [284]:
link

['https://www.cnbc.com/2023/07/09/these-stocks-that-are-about-to-turn-a-profit-should-beat-the-market-jefferies-says.html',
 'https://www.cnbc.com/2023/07/09/earnings-playbook-jpmorgan-chase-and-delta-air-lines-kick-off-the-season.html',
 'https://www.cnbc.com/2023/07/09/janet-yellen-comments-on-us-china-relations-during-beijing-visit-.html',
 'https://www.cnbc.com/2023/07/08/us-soccer-star-megan-rapinoe-announces-retirement-.html',
 'https://www.cnbc.com/2023/07/08/how-to-start-a-side-hustle-as-a-pet-sitter-.html',
 'https://www.cnbc.com/2023/07/08/3-things-to-pay-attention-to-in-the-markets-this-coming-week.html',
 'https://www.cnbc.com/2023/07/08/best-and-worst-tap-water-states-j-d-power-study.html',
 'https://www.cnbc.com/2023/07/08/no-1-nutrient-vitamin-american-kids-today-arent-getting-enough-of-according-to-dietitian-parenting-expert.html',
 'https://www.cnbc.com/2023/07/08/how-the-generative-ai-boom-could-forever-change-online-advertising.html',
 'https://www.cnbc.com/2023/07/08/us-cities-where-rent-has-increased-the-most.html',
 'https://www.cnbc.com/2023/07/08/as-bougie-broke-videos-trend-experts-say-thats-not-a-bad-thing.html',
 'https://www.cnbc.com/2023/07/08/the-fed-has-rolled-out-a-new-index-for-gauging-the-economy-that-could-have-big-implications.html',
 'https://www.cnbc.com/2023/07/08/active-funds-are-powering-jpmorgans-etfs-past-rivals-heres-why-it-may-continue.html',
 'https://www.cnbc.com/2023/07/08/micron-and-pfizer-are-the-most-oversold-sp-500-stocks-here-are-the-other-buying-opportunities.html',
 'https://www.cnbc.com/2023/07/08/leqembi-and-medicare-what-patients-and-doctors-should-know.html',
 'https://www.cnbc.com/2023/07/07/buy-buy-baby-auction-canceled-bidders-still-interested.html',
 'https://www.cnbc.com/2023/07/07/elon-musks-twitter-sues-top-law-firm-wachtell-over-90-million-fee-.html',
 'https://www.cnbc.com/2023/07/07/biogen-falls-after-alzheimers-drug-approval-what-the-pros-are-saying.html',
 'https://www.cnbc.com/2023/07/07/justin-biebers-bored-ape-nft-has-lost-95-percent-of-its-value-since-2022.html',
 'https://www.cnbc.com/2023/07/07/save-plan-helps-student-loan-borrowers-lower-monthly-payments.html',
 'https://www.cnbc.com/2023/07/07/americans-fear-a-recession-may-be-as-severe-as-2008-experts-disagree.html',
 'https://www.cnbc.com/2023/07/07/heres-how-much-the-powerball-jackpot-winner-may-owe-in-taxes.html',
 'https://www.cnbc.com/2023/07/07/most-expensive-places-buy-a-home-attom-report.html',
 'https://www.cnbc.com/2023/07/07/two-health-care-stocks-are-in-the-headlines-how-the-news-impacts-our-investments.html',
 'https://www.cnbc.com/2023/07/07/feds-goolsbee-sees-golden-path-to-lower-inflation-without-a-recession.html',
 'https://www.cnbc.com/2023/07/07/threads-doesnt-need-negativity-of-hard-news-politics-meta-exec.html',
 'https://www.cnbc.com/2023/07/07/small-businesses-teen-workers-labor-market.html',
 'https://www.cnbc.com/2023/07/07/june-inflation-data-will-be-closely-watched-by-traders-in-coming-week.html',
 'https://www.cnbc.com/2023/07/07/alzheimers-drug-leqembi-sales-may-be-slow-at-first-analysts.html',
 'https://www.cnbc.com/2023/07/07/these-stocks-including-tesla-are-this-weeks-top-performers-as-the-sp-500-falls.html']

In [285]:
df8=pd.DataFrame({'headline':headline,'time':time,'link':link})

In [286]:
df8

,headline,time,link
0,These stocks that are about to turn a profit s...,13 Min Ago,https://www.cnbc.com/2023/07/09/these-stocks-t...
1,Earnings playbook: JPMorgan Chase and Delta Ai...,16 Min Ago,https://www.cnbc.com/2023/07/09/earnings-playb...
2,Yellen says Beijing talks a step forward in pu...,7 Hours Ago,https://www.cnbc.com/2023/07/09/janet-yellen-c...
3,U.S. soccer star Megan Rapinoe announces retir...,17 Hours Ago,https://www.cnbc.com/2023/07/08/us-soccer-star...
4,How to start a pet-sitting side hustle—you cou...,21 Hours Ago,https://www.cnbc.com/2023/07/08/how-to-start-a...
5,3 things to pay attention to in the markets th...,21 Hours Ago,https://www.cnbc.com/2023/07/08/3-things-to-pa...
6,These U.S. states have the best and the worst ...,21 Hours Ago,https://www.cnbc.com/2023/07/08/best-and-worst...
7,The No. 1 vitamin kids in the U.S. 'aren't get...,22 Hours Ago,https://www.cnbc.com/2023/07/08/no-1-nutrient-...
8,How the generative A.I. boom could forever cha...,22 Hours Ago,https://www.cnbc.com/2023/07/08/how-the-genera...
9,The 10 U.S. cities where rent has increased th...,22 Hours Ago,https://www.cnbc.com/2023/07/08/us-cities-wher...
10,"As 'bougie broke' videos trend, here's why exp...",22 Hours Ago,https://www.cnbc.com/2023/07/08/as-bougie-brok...
11,The Fed rolls out a new economic index that co...,22 Hours Ago,https://www.cnbc.com/2023/07/08/the-fed-has-ro...
12,Active funds are powering JPMorgan's ETFs past...,22 Hours Ago,https://www.cnbc.com/2023/07/08/active-funds-a...
13,Micron and Pfizer are the most oversold S&P 50...,23 Hours Ago,https://www.cnbc.com/2023/07/08/micron-and-pfi...
14,Medicare will pay for Alzheimer's drug Leqembi...,"July 8, 2023",https://www.cnbc.com/2023/07/08/leqembi-and-me...
15,"Buy Buy Baby auction is canceled, but buyers a...","July 7, 2023",https://www.cnbc.com/2023/07/07/buy-buy-baby-a...
16,Elon Musk's Twitter sues top law firm Wachtell...,"July 7, 2023",https://www.cnbc.com/2023/07/07/elon-musks-twi...
17,Biogen falls after Alzheimer’s drug approval. ...,"July 7, 2023",https://www.cnbc.com/2023/07/07/biogen-falls-a...
18,Justin Bieber's Bored Ape NFT has lost about 9...,"July 7, 2023",https://www.cnbc.com/2023/07/07/justin-biebers...
19,How the SAVE plan can help student loan borrow...,"July 7, 2023",https://www.cnbc.com/2023/07/07/save-plan-help...
20,While Americans fear a recession as severe as ...,"July 7, 2023",https://www.cnbc.com/2023/07/07/americans-fear...
21,Here's how much the $615 million Powerball jac...,"July 7, 2023",https://www.cnbc.com/2023/07/07/heres-how-much...
22,10 U.S. counties where prospective buyers need...,"July 7, 2023",https://www.cnbc.com/2023/07/07/most-expensive...
23,Two health-care stocks are in the headlines. H...,"July 7, 2023",https://www.cnbc.com/2023/07/07/two-health-car...
24,Fed's Goolsbee sees 'golden path' to lower inf...,"July 7, 2023",https://www.cnbc.com/2023/07/07/feds-goolsbee-...
25,Meta Threads doesn't need the 'negativity' of ...,"July 7, 2023",https://www.cnbc.com/2023/07/07/threads-doesnt...
26,Small businesses may have a hard time finding ...,"July 7, 2023",https://www.cnbc.com/2023/07/07/small-business...
27,June inflation data will be closely watched by...,"July 7, 2023",https://www.cnbc.com/2023/07/07/june-inflation...
28,Sales of Alzheimer’s drug Leqembi may be slow ...,"July 7, 2023",https://www.cnbc.com/2023/07/07/alzheimers-dru...
29,"These stocks, plus Tesla, are this week's top ...","July 7, 2023",https://www.cnbc.com/2023/07/07/these-stocks-i...

question no 6

In [287]:
page8=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page8

In [288]:
soup8=BeautifulSoup(page8.content)

In [289]:
paper_title=[]
for i in soup8.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    paper_title.append(i.text)

In [290]:
paper_title

['Reward is enough',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Creativity and artificial intelligence',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Knowledge graphs as tools for explainable machine learning: A survey',
 'Law and logic: A review from an argumentation perspective',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'Multiple object tracking: A literature review',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Explainable AI tools for legal reasoning about cases: A study on the European Court of Human Rights',
 'Hard choices in artificial intelligence',
 'Assessing the communication gap between AI models and healthcare professionals: Explainability, utility and trust in AI-driven clinical decision-making',
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'The Hanabi challenge: A new frontier for AI research',
 'Wrappers for feature subset selection',
 'Artificial cognition for social human–robot interaction: An implementation',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'The multifaceted impact of Ada Lovelace in the digital age',
 'Robot ethics: Mapping the issues for a mechanized world',
 'Reward (Mis)design for autonomous driving',
 'Planning and acting in partially observable stochastic domains',
 'What do we want from Explainable Artificial Intelligence (XAI)? – A stakeholder perspective on XAI and a conceptual model guiding interdisciplinary XAI research']

In [291]:
authors=[]
for i in soup8.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)

In [292]:
authors

['David Silver, Satinder Singh, Doina Precup, Richard S. Sutton ',
 'Tim Miller ',
 'Margaret A. Boden ',
 'Guni Sharon, Roni Stern, Ariel Felner, Nathan R. Sturtevant ',
 'Ilaria Tiddi, Stefan Schlobach ',
 'Henry Prakken, Giovanni Sartor ',
 'Richard S. Sutton, Doina Precup, Satinder Singh ',
 'Kjersti Aas, Martin Jullum, Anders Løland ',
 'Wenhan Luo, Junliang Xing and 4 more',
 'Saurabh Arora, Prashant Doshi ',
 'Jasper van der Waa, Elisabeth Nieuwburg, Anita Cremers, Mark Neerincx ',
 'Joe Collenette, Katie Atkinson, Trevor Bench-Capon ',
 'Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz ',
 'Oskar Wysocki, Jessica Katharine Davies and 5 more',
 'Eoin M. Kenny, Courtney Ford, Molly Quinn, Mark T. Keane ',
 'Nolan Bard, Jakob N. Foerster and 13 more',
 'Ron Kohavi, George H. John ',
 'Séverin Lemaignan, Mathieu Warnier and 3 more',
 'Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz ',
 'Luigia Carlucci Aiello ',
 'Patrick Lin, Keith Abney, George Bekey ',
 'W. Bradley Knox, Alessandro Allievi and 3 more',
 'Leslie Pack Kaelbling, Michael L. Littman, Anthony R. Cassandra ',
 'Markus Langer, Daniel Oster and 6 more']

In [293]:
published_date=[]
for i in soup8.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    published_date.append(i.text)

In [294]:
published_date

['October 2021',
 'February 2019',
 'August 1998',
 'February 2015',
 'January 2022',
 'October 2015',
 'August 1999',
 'September 2021',
 'April 2021',
 'August 2021',
 'February 2021',
 'April 2023',
 'November 2021',
 'March 2023',
 'May 2021',
 'March 2020',
 'December 1997',
 'June 2017',
 'June 2021',
 'June 2016',
 'April 2011',
 'March 2023',
 'May 1998',
 'July 2021']

In [295]:
paper_url=[]
for i in soup8.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    paper_url.append(i.get('href'))

In [296]:
paper_url

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370221001788',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370223000073',
 'https://www.sciencedirect.com/science/article/pii/S0004370221001065',
 'https://www.sciencedirect.com/science/article/pii/S0004370222001795',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300224',
 'https://www.sciencedirect.com/science/article/pii/S0004370211000178',
 'https://www.sciencedirect.com/science/article/pii/S0004370222001692',
 'https://www.sciencedirect.com/science/article/pii/S000437029800023X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000242']

In [297]:
df9=pd.DataFrame({'paper title':paper_title,'authors':authors,'published date':published_date,'paper url':paper_url})

In [298]:
df9

,paper title,authors,published date,paper url
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

question no 7

In [299]:
page9=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page9

In [300]:
soup9=BeautifulSoup(page9.content)

In [301]:
resto_name=[]
for i in soup9.find_all('a',class_="restnt-name ellipsis"):
    resto_name.append(i.text)

In [302]:
resto_name

['Castle Barbeque',
 'Jungle Jamboree',
 'Cafe Knosh',
 "Castle's Barbeque",
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [307]:
cuisine=[]
for i in soup9.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])

In [308]:
cuisine

[' Chinese, North Indian',
 ' North Indian, Asian, Italian',
 ' Italian, Continental',
 ' Chinese, North Indian',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian',
 ' North Indian, Mughlai']

In [309]:
location=[]
for i in soup9.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)

In [310]:
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [311]:
ratings=[]
for i in soup9.find_all('div',class_="restnt-rating rating-4"):
    ratings.append(i.text)

In [312]:
ratings

['4', '3.9', '4.3', '3.9', '3.9', '3.9', '3.7', '3.8', '4.3']

In [313]:
image_url=[]
for i in soup9.find_all('img',class_="no-img"):
    image_url.append(i.get('data-src'))

In [314]:
image_url

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [315]:
df10=pd.DataFrame({'Restaurant name':resto_name,'Cuisine':cuisine,'Location':location,'Ratings':ratings,'Image url':image_url})

In [316]:
df10

,Restaurant name,Cuisine,Location,Ratings,Image url
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...